<div class="text-center">
    <h1 class="text-center mb-4 display-1">¯\_(ツ)_/¯</h1>
    <h2 class="text-danger text-center mb-4">Something went wrong.</h2>
    <h4 class="text-center">Error: <%= err %></h3>
</div>
