<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <% if (!currentUser.isPremium) {%>
            <form action="/get-premium" method="POST">
                <div class="form-group mb-3">
                    <label class="mb-2" for="hidden">Enter hidden password:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="hidden"
                        placeholder="What could it be?"
                        required
                    />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Upgrade!</button>
                    <a
                        href="https://github.com/fatiharapoglu/expressMembersOnly"
                        class="btn btn-dark"
                        target="_blank"
                        >I don't have the code?</a
                    >
                </div>
            </form>
            <%}%> <% if (currentUser.isPremium) {%>
            <h1 class="text-center text-success my-5">
                Congratulations, you are a premium member!
            </h1>
            <%}%>
        </div>
    </div>
</div>
