<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Welcome to the club.</h3>
            <form action="/" method="POST">
                <div class="form-group mb-3">
                    <label for="email">E-mail:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        placeholder="mocha@cat.com"
                        required
                    />
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/sign-up" class="btn btn-primary">Sign-Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
