<div class="col-md-8">
    <div class="card">
        <div class="card-body">
            <% if (currentUser) {%>
            <a class="float-end fs-6" href="/log-out">Log Out</a>
            <h5 class="text-center">Welcome to the club <%= currentUser.fullname %>!</h1>
            <a class="d-block text-center btn btn-dark mt-3 mb-3" href="/new-message">New Message +</a>
            <div>
                the content of stuff
            </div>
            <% } else { %>
            <h3 class="card-title text-center mb-4">Please log in to continue.</h3>
            <form action="/" method="POST">
                <div class="form-group mb-3">
                    <label for="email">E-mail:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        placeholder="mocha@cat.com"
                        required
                    />
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Login</button>
                    <a href="/sign-up" class="btn btn-dark">Sign-Up</a>
                </div>
            </form>
            <%}%>
        </div>
    </div>
</div>
