<div class="text-center">
    <h1 class="text-center mb-4 display-1">¯\_(ツ)_/¯</h1>
    <h2 class="text-danger text-center mb-4"><%= err %></h2>
    <a class="link-dark fs-3" href="/">Try Again</a>
</div>
